/********************** THIS IS FIXED**********************/
header {
  position: fixed;
  height: 110px;
  width: 100%;
  line-height: 120px;
  background-color: black;
  color: white;
  z-index: 2;
}

.nav-content {
  width: 840px;
  height: 110px;
  margin: auto;
}

h1 {
  display: inline-block;
  height: 110px;
  width: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
*/}

nav {
  display: inline-block;
}

nav a {
  display: inline-block;
  width: 100px;
  margin-right: 0px;
  margin-top: 0px;
  color: white;
}

/********************* NOW THIS MOVES**********************/
.content {
  position: relative;
  top: 110px;
  z-index: 1;
  margin: 0 auto;
  padding-top: 10px;
  width: 840px;
	font-family: 'Open Sans', sans-serif;
}

footer {
  position: relative;
  top: 110px;
  width: 840px;
  margin: auto;
}
